.footer{
  display: flex;
  flex-direction: row-reverse;   
  justify-content: space-between;
  align-items: center;
  height: 30vh;
  /* width: 100%; */
}

.total{
  width: 300px;
  height: 4.5rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem ;
  font-weight: 800;
  text-transform: uppercase;
  font-family: var(--font-default);
  color: var(--color-tertiary);
  background-color: var(--color-Quaternary);
  border:var(--border-default);
}
#valor-total{
 margin-left: 10px;

}

.btn {
  display: inline-block;
  height: 50px;
  width: 180px; 
  padding: 1rem 2rem; 
  font-weight: 800;
  text-transform: uppercase;
  font-family: var(--font-default);
  background-color: var(--color-Quaternary);
  border:var(--border-default); 
  color: var(--color-tertiary);
  border-radius: 50px; 
  cursor: pointer; 
  text-decoration: none;
  transition: background-color 0.3s;
  text-align: center; 
  line-height: 50px; 
  margin-right: 2.5rem ;
  font-size: 1.5rem;
}

.btn:hover {
  background-color: var(--color-segundary); 
  border: var(--border-default);
  color: var(--color-primary);
}

.btn:active {
  background-color: #f9f9f9a0; 
}

@media (max-width:780px){
  .footer{
     border: solid black 1px;
     margin: 0;
     padding: 0;
  }
  .total{
    width:100%;
    height: auto;
    margin-top: 10px;
    font-size: 0.80rem;
  }
}
@media (max-width:580px){
  .footer{
    border: solid blue 1px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    height:  50vh;
    margin: 0;
    padding: 0;
    padding-left: 30px;
  }
  .total{
    font-size: 0.80rem;
    width:50%;
  }
  .btn{
    width:33%;
    font-size: 0.80rem;
  }
}

/* @media (max-width:510px){
  .footer span{
    font-size: 22px;
  }
} */