@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

:root {

  /*STYLE COLORS*/
  --color-primary: #f0f0f0;
  --color-segundary: #2f69d4;
  --color-tertiary: #252525e1;
  --color-Quaternary: #f6e203;
  /*FONTS TEXT*/
  --font-default: "Roboto", sans-serif;

}

.container {
  position: relative; /* Adiciona posicionamento relativo para conter o pseudo-elemento */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container::before {
  content: ""; /* Adiciona um conteúdo vazio ao pseudo-elemento */
  position: absolute; /* Posiciona o pseudo-elemento sobre a área do .container */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/assets/img/interior-do-restaurante.jpg);
  background-size: cover;
  background-position: center;
  filter: blur(5px); /* Aplica o efeito de desfoque apenas na imagem de fundo */
  z-index: -1; /* Coloca o pseudo-elemento atrás do conteúdo do .container */
}


.item {
  flex-basis: 80px;
  /*border: solid black 1px;*/
}

.main {
  flex-grow: 2;
  font-family: var(--font-default);
}