@import url('global.css');

header{
   display: flex;
   justify-content: center;
   margin-bottom: 10px;
}

.logo_menu {
    background-color: var(--color-segundary);
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 500px;
    height: auto;
}

@media (max-width:905px){
    .logo {
        width:100%;
        height: auto;
    }
 }
 