.options {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 120px;
}

.option {
  border-radius: 20px;
  flex-basis: 285px;
  height: 480px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(77, 77, 77, 0.58); 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  cursor: pointer;
}

.option:hover {
  transform: translateY(-3px); 
  box-shadow: 0 8px 12px rgba(95, 95, 95, 0.747);  
}


.coxinha {
  border-radius: 20px;
  height: 280px;
  background-image: url('/assets/img/coxinha.png');
  background-size: cover;
  background-position: center;
}

.kib {
  border-radius: 20px;
  height: 280px;
  background-image: url('/assets/img/Quibe.png');
  background-size: cover;
  background-position: center;
}

.bolinho-queijo {
  border-radius: 20px;
  height: 280px;
  background-image: url('/assets/img/bolinha-de-queijo.png');
  background-size: cover;
  background-position: center;
}

.informations{
  margin-left: 10px;
  color: var(--color-segundary);
  font-family: var(--font-default);
}

.sum {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sum h1 {
 color:var(--color-segundary); 
 font-weight: 600;
 font-family:  "Roboto", sans-serif;

}
.informations h2{
  font-weight: 500;
  font-family:  "Roboto", sans-serif;
}
.informations h3{
  font-weight: 400;
  font-family:  "Roboto", sans-serif;
  text-transform: uppercase;
}



.increment {
  border-radius: 20px;
  height: 50px;
 
}
.decrement {
  border-radius: 20px;
  height: 50px;
  
}

@media (max-width:905px) {
  .option {
    margin-top: 2rem;
  }
}