.options {
  height: auto;
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 120px;
  background-size: cover;
  background-position: center;
}

.option {
  border-radius: 20px;
  flex-basis: 285px;
  height: 480px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(77, 77, 77, 0.58);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  background-color: var(--color-Quaternary);
  border: var(--border-default);
}

.option:hover {
  transform: translateY(-3px);
}

.coxinha {
  border-radius: 20px;
  height: 280px;
  background-image: url('/assets/img/coxinha.png');
  background-size: cover;
  background-position: center;
}

.kib {
  border-radius: 20px;
  height: 280px;
  background-image: url('/assets/img/Quibe.png');
  background-size: cover;
  background-position: center;
}

.bolinho-queijo {
  border-radius: 20px;
  height: 280px;
  background-image: url('/assets/img/bolinha-de-queijo.png');
  background-size: cover;
  background-position: center;
}

.informations {
  margin-left: 10px;
  color: var(--color-tertiary);
  font-family: var(--font-default);
}

.sum {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sum h1 {
  color: var(--color-tertiary);
  font-weight: 600;
}

.informations h2 {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  padding: 1rem;
}

.nome-item{
  font-weight: 400;
  font-family:var(--font-default);
  text-transform: uppercase;
  padding: 1rem;
}
.total{
  display: flex;
  border: solid 1px red;
}
.total-values{
  padding: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  font-family: var(--font-calculate);
  width: 40%;
  font-size: 1.2rem;
  text-align: center;
  border: 3px double black;
  background-color: #CCE7E8;
}
.increment,
.decrement {
  border-radius: 20px;
  height: 50%;
}

/* Adicionando efeito de clique */
.increment,
.decrement {
  transition: transform 0.2s ease;
  /* Adicionando uma transição suave */
}

.increment:hover,
.decrement:hover {
  transform: scale(1.1);
  /* Aumenta ligeiramente o tamanho do botão quando o mouse está sobre ele */
}

.increment:active,
.decrement:active {
  transform: scale(0.9);
  /* Reduz ligeiramente o tamanho do botão quando está pressionado */
}

.janela_modal_gerador {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000083;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal_gerador {
  width: 80%;
  max-width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fffffff9;
  border-radius: 20px;
  box-shadow: 0px 2px 10px #00000098;
  padding: 20px;
  z-index: 1000;
}

.ticket h1{
 font-family: var(--font-default);  
}

/* Adicionando uma animação quando a modal é exibida */
.janela_modal_gerador.show {
  display: flex;
  opacity: 1;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 20px;
}

.loading div {
  width: 20px;
  height: 20px;
  background-color: var(--color-segundary);
  border-radius: 50%;
  margin: 0 5px;
  animation: bounce 1.5s infinite ease-in-out alternate;
}

.loading div:nth-child(2) {
  animation-delay: 0.1s;
}

.loading div:nth-child(3) {
  animation-delay: 0.2s;
}

.loading div:nth-child(4) {
  animation-delay: 0.3s;
}

.loading div:nth-child(5) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

.mensagem_loading {
  color: var(--color-segundary);
  font-family: var(--font-default);
  margin-bottom: 10px;
}

.janela_modal_checkout{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000083;
  display: none;
  justify-content: right;
  z-index: 999;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); 
  transition: opacity 0.3s ease;
}

.modal_checkout{
  width: 85%;
  max-width: 530px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background-color: #fffffff9;
  box-shadow: 0px 2px 10px #00000098;
  z-index: 1000;
}

table {
  width: 100%;
  height: auto; /* Remove altura fixa para permitir redimensionamento */
  font-family: var(--font-default);
  flex: 1 1 auto; /* Permite que a tabela cresça dentro do container flex */
  overflow: auto; /* Adiciona rolagem se necessário */
}
thead{
  height: 80px;
  
  background-color: #CCE7E8;
}
thead th{
  border: solid 1px;
}
thead  tr th{
  font-family: var(--font-default);
}
tbody tr td{
  font-family: var(--font-default);

}

thead th:nth-child(1) {
  width: 60%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 20%;
}

tbody{
 height: 50px;
 background-color: #e9e7e7;
 /* border: solid 2px; */
}
tr td{
  color: var( --color-tertiary);
  /* font-family: var(--font-calculate);  */
  font-weight: 600;
  /* border: solid 1px; */
  
}
tbody td:nth-child(1){
  padding-left: 10px;
}

tbody td:nth-child(2){
  text-align: right;
  padding-right: 5px;
}

tbody td:nth-child(3){
  text-align: right;
  padding-right: 5px;
}

tfoot tr td{
  height: 80px;
  background-color: #CCE7E8;
  border: solid 1px;
}

tfoot td:nth-child(1) h1{
  display: inline-block;
  margin-right: 300px; 
  vertical-align: middle;
  padding-left: 10px;
}

tfoot td:nth-child(1) h1 {
  display: inline-block; 
  vertical-align: middle;
}

.ticket{
  background-color: var(--color-segundary);
  margin-bottom: 10px;
  width: 100%;
  color: var(--color-primary);
  font-family: var(--font-default);
  box-shadow: 2px 4px 3px #00000083;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.ticket h1{
  margin-left: 10px;
}

.container_button{
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button_exit {
  height: 50px; /* Definindo altura */
  width: 50px; /* Definindo largura */
  font-weight: 600;
  font-family: var(--font-default);
  border: var(--border-default);
  background-color: #ff0000;
  color: var(--color-primary);
  border-radius: 50%; 
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.1s;
  text-align: center;
  line-height: 50px; 
  margin-right: 10px;
  font-size: 1.5rem;
  padding: 0; 
}

.button_exit:active {
  background-color: #cc0000; 
  transform: scale(0.95); 
}

.button_finish {
  height: 40px;
  width: 100%;
  padding: 1rem 2rem;
  font-weight: 600;
  font-family: var(--font-default);
  background-color: var(--color-segundary);
  border: var(--border-default);
  color: var(--color-primary);
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.1s; /* Transição combinada */
  text-align: center;
  line-height: 50px;
  font-size: 1.5rem;
}

.button_finish:active {
  background-color: var(--color-segundary);
  transform: scale(0.95); /* Efeito de pressionado */
}

  @media screen and (max-width: 500px) {
    .option {
      flex-basis: 225px; /* Reduz a largura dos cards */
      height: 350px; /* Mantém a altura automática para preservar a proporção */
    }

  .kib,
  .coxinha,
  .bolinho-queijo {
    width: 225px; /* Reduz a largura das imagens */
    height: 200px; /* Reduz a altura das imagens */
  }

  .informations,
  .sum{
    font-size: 0.80rem;
  }
  .mensagem_loading{
    font-size: 1.3rem;
  }
}
tr th{
  color: var( --color-tertiary);   
  font-size: 18px;
}
tr td{
  color: var( --color-tertiary);   
  font-size: 18px;
}
.trRow{
  font-size: 22px;
  color: var(--color-tertiary);
  font-family: var(--font-calculate);
  font-weight: 400;
 }
 tr h2{
  color: var(--color-tertiary);
  font-family: var(--font-calculate);
 }
#valueTotal{
  color: var(--color-tertiary);
  font-family: var(--font-calculate);

}
@media screen and (max-width:600px) {
  .modal_checkout{
    width: 100%;
  }
  thead{
    width: 100%;
  }
  tbody{
    width: 100%; 
  }
  tfoot{
   width: 100%;
  }
}
