.options {
  height:auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 120px;
  margin-top: 20px;
  background-image:url(/assets/img/interior-do-restaurante.jpg);
 
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

.option {
  border-radius: 20px;
  flex-basis: 285px;
  height: 480px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(77, 77, 77, 0.58); 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  cursor: pointer;
  background-color: var(--backgraund-primary);
}

.option:hover {
  transform: translateY(-3px); 
  box-shadow: 0 5px 10px rgba(245, 245, 245, 0.747);  
}

.coxinha {
  border-radius: 20px;
  height: 280px;
  background-image: url('/assets/img/coxinha.png');
  background-size: cover;
  background-position: center;
}

.kib {
  border-radius: 20px;
  height: 280px;
  background-image: url('/assets/img/Quibe.png');
  background-size: cover;
  background-position: center;
}

.bolinho-queijo {
  border-radius: 20px;
  height: 280px;
  background-image: url('/assets/img/bolinha-de-queijo.png');
  background-size: cover;
  background-position: center;
}

.informations{
  margin-left: 10px;
  color: var(--color-segundary);
  font-family: var(--font-default);
}

.sum {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sum h1 {
 color:var(--color-segundary); 
 font-weight: 600;
 font-family:  "Roboto", sans-serif;

}
.informations h2{
  font-weight: 500;
  font-family:  "Roboto", sans-serif;
}
.informations h3{
  font-weight: 400;
  font-family:  "Roboto", sans-serif;
  text-transform: uppercase;
}

.increment, .decrement {
  border-radius: 20px;
  height: 50px;
}

/* Adicionando efeito de clique */
.increment, .decrement {
  transition: transform 0.2s ease; /* Adicionando uma transição suave */
}

.increment:hover, .decrement:hover {
  transform: scale(1.1); /* Aumenta ligeiramente o tamanho do botão quando o mouse está sobre ele */
}

.increment:active, .decrement:active {
  transform: scale(0.9); /* Reduz ligeiramente o tamanho do botão quando está pressionado */
}


.btn_next{
  display: flex;
  justify-content: right;
  margin-top: 20px;
  padding-top: 50px;
  padding-right: 50px;
  background-color: var(--color-primary);
  height: 18vh

}

@import url('https://fonts.googleapis.com/css?family=Poppins:900i');


.cta {
    display: flex;
    padding: 10px 45px;
    text-decoration: none;
    font-family:  "Roboto", sans-serif;
    font-size: 40px;
    color: var(--color-black);
    font-weight: 800;
    text-transform: uppercase;
    background-color: var(--background-secundary);
    transition: 1s;
    box-shadow: 6px 6px 0 var(--color-segundary);
    transform: skewX(-15deg);
}

.cta:focus {
   outline: none; 
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 var( --bacgrkound-green);
}

.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

  span {
    transform: skewX(15deg) 
  }

  span:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
  }
  
/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
    0% {
        fill: var(--color-primary);
    }
    50% {
        fill: var( --bacgrkound-green);
    }
    100% {
        fill: var(--color-primary);
    }
}

@media (max-width:905px) {
  .option {
    margin-top: 2rem;
  }
}

